{{define "footer"}}

</div>

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Character Ranking! 事務局</h5>
        <p class="card-text">saki.engineer1213@gmail.com 開局期間: 2020年4月10日(金)～</p>
        <p class="card-text">※メールでのお問い合わせは24時間受け付けておりますが、返信にお時間がかかる場合がございます。</p>
        <p class="card-text">なお、Character Ranking! 以外のご質問への回答はいたしかねます。</p>
        <p class="card-text">※日本語・英語以外のお問い合わせにつきましては回答をいたしかねますので、ご容赦ください。</p>
    </div>
</div>

</body>
</html>
{{end}}