{{template "header" .}}

<div class="card card-body">
  <p class="card-text">Character Ranking!とは何ですか？</p>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#faq1" aria-expanded="false" aria-controls="faq1">
  開く
</button>
<div class="collapse" id="faq1">
  <div class="card card-body">
    は2020年で35回目になるサンリオキャラクター大賞のオマージュサイトです。
    13組のエントリーキャラクターはシナモロールの世界から決定しております。好きなキャラクターに1日１回投票してください。
    複数のキャラクターに投票することはできます。
  </div>
</div>

<div class="card card-body">
  <p class="card-text">スケジュールを教えてください。</p>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#faq2" aria-expanded="false" aria-controls="faq2">
  開く
</button>
<div class="collapse" id="faq2">
  <div class="card card-body">
    スケジュールは以下の通りです。
    投票期間
    4月10日（金）10:00〜5月25日（月）12:00　サンリオショップでは各店舗の閉店時まで受け付けます。
    途中経過・結果発表
    ・速報　4月14日（火）11:00
    ・中間発表　5月12日（火）11:00
    ・結果発表　6月9日（火）11:00　サンリオピューロランドにて
  </div>
</div>

<div class="card card-body">
  <p class="card-text">エントリーしているのは全部で何キャラですか。</p>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#faq3" aria-expanded="false" aria-controls="faq3">
  開く
</button>
<div class="collapse" id="faq3">
  <div class="card card-body">
    13キャラクターです。
  </div>
</div>

<div class="card card-body">
  <p class="card-text">投票は1回だけしかできないのでしょうか？</p>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#faq4" aria-expanded="false" aria-controls="faq4">
  開く
</button>
<div class="collapse" id="faq4">
  <div class="card card-body">
    1日1キャラクターにつき1回投票が可能です。
    1日に13キャラクターへの投票が可能です。
  </div>
</div>

<div class="card card-body">
  <p class="card-text">このサイト以外ではどこで投票できますか？</p>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#faq5" aria-expanded="false" aria-controls="faq5">
  開く
</button>
<div class="collapse" id="faq5">
  <div class="card card-body">
    本家では様々な投票手段がありますが……ここではウェブサイトだけです。
  </div>
</div>

<div class="card card-body">
  <p class="card-text">お気に入りキャラクターの登録はどのようにしたらいいでしょうか。</p>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#faq6" aria-expanded="false" aria-controls="faq6">
  開く
</button>
<div class="collapse" id="faq6">
  <div class="card card-body">
    お気に入りキャラクターの登録は、投票ボタンを押して投票すると次回からお気に入りに登録できるようになります。
    キャラクターの「みんなへのひとこと」画面に「お気に入りを登録する」ボタンがあるので、そこから登録してください。
    登録できるキャラクターは最大3つまでです。上限を超えた場合は、最初に登録したキャラクターから消えていき、新しいキャラクターが追加されます。一度登録すると新しいキャラクターを追加するまで設定の変更はできません。
  </div>
</div>

<div class="card card-body">
  <p class="card-text">海外からも投票できますか？</p>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#faq7" aria-expanded="false" aria-controls="faq7">
  開く
</button>
<div class="collapse" id="faq7">
  <div class="card card-body">
    当サイトにアクセスできる環境であれば、可能です。英語と中国語（繁体字、簡体字）のページもご用意しています。
  </div>
</div>

<div class="card card-body">
  <p class="card-text">投票ができない等のサイト上の不具合があった場合はどうしたらいいですか？</p>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#faq8" aria-expanded="false" aria-controls="faq8">
  開く
</button>
<div class="collapse" id="faq8">
  <div class="card card-body">
    推奨環境をご確認ください。（下の欄をご参照ください）
    ブラウザやバージョンを変更することで正常に動作することもございます。
    どうしても不具合が改善できない場合はお問い合わせください。
  </div>
</div>

<div class="card card-body">
  <p class="card-text">投票サイトの推奨環境を教えてください</p>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#faq9" aria-expanded="false" aria-controls="faq9">
  開く
</button>
<div class="collapse" id="faq9">
  <div class="card card-body">
    〜OS〜
    [PC]
    Windows 8、Windows 8.1、Windows 10
    Macintosh OSX以降

    [スマートフォン]
    iPhone：iOS 11 以降
    Android：OS7 以降

    〜ブラウザ〜
    [Windows]
    Microsoft Internet Explorer 11 以降（一部表示ができない部分がございます）
    Microsoft Edge　最新版
    Google Chrome 　最新版

    [Macintosh、iPhone]
    Safari 　最新版

    [Android]
    Google Chrome
  </div>
</div>

<div class="card card-body">
  <p class="card-text">問い合わせ先はありますか</p>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#faq10" aria-expanded="false" aria-controls="faq10">
  開く
</button>
<div class="collapse" id="faq10">
  <div class="card card-body">
    Eメールで受け付けております。
  </div>
</div>

<div>
  <button type="button" onclick="location.href='/'" class="btn btn-primary">topに戻る</button>
</div>
{{template "footer"}}