{{template "header" .}}

<form action="/form/vote" method="post" id="questionnaire">
  <div class="form-group">
    <label for="form-age">年齢</label>
    <select class="form-control" name="age" id="form-age" required>
      <option value="0" selected>0</option>
      {{ range $v := .Age }}
        <option value="{{$v}}">{{$v}}</option>
      {{ end }}
    </select>
  </div>
  <div class="form-group">
    <label for="form-gender">性別</label>
    <select class="form-control" name="gender" id="form-gender" required>
      <option selected value="">(選択してください)</option>
      <option value="1">女性</option>
      <option value="2">男性</option>
      <option value="9">その他</option>
    </select>
  </div>
  <div class="form-group">
    <label for="form-address">お住いの都道府県</label>
    <select class="form-control" name="address" id="form-address" required>
      <option value="">(選択してください)</option>
      {{ range $v := .Prefecture }}
        <option value="{{$v.Code}}">{{$v.Name}}</option>
      {{ end }}
    </select>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" name="check" id="form-check" required>
    <label class="form-check-label" for="form-check"><a data-toggle="modal" data-target="#exampleModalLong" style="color:blue;">利用規約</a>に同意しました</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!--modal-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>「Character ranking!」利用規約
        saki_engineering(以下、運営者)が主催する「Character ranking!」サイト(以下、本サイト)をご利用（ご投票を含みます）いただき、投票される際には、この下記の利用規約（以下、本利用規約）をよくお読みいただき、ご同意の上、本サイトをご利用いただけますようお願い申し上げます。
        本サイトをご利用いただいた場合には、本利用規約にすべてにご同意いただいたものとさせていただきます。 運営者はは事前に通知することなく、本サイトの内容、本利用規約等を変更することがございますので、予めご了承ください。</p>

        <p>本サイト利用にあたって
        本サイトを利用しての投票は、どなたでも可能です。
        但し、本サイト利用および接続のために必要な通信機器・ソフトウエアさらにその他必要となる機器・電話利用の契約は、すべて本サイト利用者の費用と責任において行ってください。
        また、利用環境によっては投票できない場合があります。</p>

        <p>免責事項について
        ・本サイト利用者は自己の責任において本サイトに投票するものとします。
        ・運営者は、本サイト利用者の本サイトへの投票、または、本サイト利用者とその他の第三者との間で生じたいかなる紛争についても、その原因の如何を問わず、いかなる責任も負担しないものとします。
        ・本サイトの投票は、システムの障害やメンテナンス等、運営者が必要と判断した場合には、事前に何ら通告なく休止等する場合があります。
        ・運営者は、本サイト利用者が本サイトに関して被ったいかなる損害（本サイト投票の中断、停止または廃止を含み、これに限定されません）についても、その責めを負わないものとします。</p>

        <p>本利用規約の適用開始日
        本利用規約は、2020年4月10日（金）から適用いたします。</p>

        <p>投票対象キャラクター
        ノミネートされている13キャラクターから、お好きなキャラクターを１つ選んでご投票ください。</p>

        <p>投票について
        ・年齢・性別・国籍を問わず、どなたでも、運営者が指定の投票方法に従って、ご投票いただけます。
        ・１キャラクターにつき、1日1回ご投票いただけます（すべてのキャラクターにつき、1日1回ご投票いただけます。）。
        ・本利用規約に同意の上投票して下さい。</p>

        <p>投票方法
        本サイトよりご応募ください。 「投票する」ボタンをクリックして、投票フォームへアクセスし、記載の指示に従って投票してください。投票フォームには必要事項をすべてご記入ください。
        ※本家では様々な投票手段がありますが……ここではウェブサイトだけです。</p>

        <p>投票期間
        ・2020年4月10日（金） 10:00～5月25日（月）12：00</p>

        <p>結果発表　　2020年6月9日（火）
        本サイトで行います。</p>

        <p>個人情報について
        ・運営者は、本サイトで「character ranking!」にご投票いただいた際に収集した年齢・性別・お住まいの都道府県の情報は、統計情報としてのみ使用します。
        ・運営者は、投票の公正を維持するため、各投票行為が「機械的」な大量投票か否か判別する目的で、本サイト利用者が本サイトで「character ranking!」に投票する際に本サイト利用者の通信機器から送信されるIPアドレスを収集し使用します。
        ・運営者が収集した本サイト利用者の情報は、本サイト利用者の居住する国又は地域以外の国又は地域に所在するデータサーバーやコンピューターに送信・保存されることがあります。この場合、当該送信・保存先となる国又は地域を対象とする個人情報保護法制は、本サイト利用者の居住する国又は地域のものと同等の保護を与えるものであるとは限りませんが、運営者は、適用法令の要求するところに従い、本サイト利用者の個人情報の保護のために必要かつ適切な措置を講じます。</p>


        <p>投票に関する諸注意
        ・「機械的」な大量投票があった場合、それらの票につきましては無効といたします。
        ・本サイトの利用にかかる費用（通信費、プロバイダー料金等）は、本サイト利用者で、ご負担ください。</p>

        <p>character ranking!についてのお問い合わせ先
        「character ranking!」事務局
        開局期間：2020年4月10日（金）～6月9日（火）
        e-mail: myemail.jp</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{template "footer"}}