{{template "header" .}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Characters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
        </li>
        </ul>
    </div>
</nav>

{{ range $i, $v := .Character }}
    <div class="card-body">
        <h5 class="card-title">Entry No.{{$i}}, Name: {{$v}}</h5>
        <button type="button" name="{{$v}}" value="{{$i}}" class="btn btn-primary">{{$v}}に投票</button>
    </div>
{{ end }}
{{template "footer"}}